<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button type="buttons" slot="start"></ion-menu-button>
    <ion-title>rol</ion-title>
    <ion-button (click)="openAlert()" slot="end">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-list>
    <ion-label>Roles</ion-label>
  <ion-item *ngFor="let rol of usuarios">
    {{rol.idRolPersona}} {{rol.RolPersona}} {{rol.Estado}}

    <ion-button (click)="openAlert1()" slot="end">
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
</ion-content>