<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button type="buttons" slot="start"></ion-menu-button>
    <ion-title>Regionales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <ion-input name="regional" [(ngModel)]="regionales.regional" type="text" placeholder="Nombre regional" class="form-control" autofocus>
          </ion-input>
        </div>
      <ion-button (click)="insertDatos()">
        Click me
      </ion-button>
      </form>
    </div>
  </div>
</div>
</ion-content>