<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button type="buttons" slot="start"></ion-menu-button>
    <ion-title>Puntos de Entrega</ion-title>
    <ion-button routerLink="/puntoentregai" slot="end">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let pun of puntos">
      {{pun.NombrePE}} {{pun.CodigoInternoPE}} {{pun.Direccion}} {{pun.Responsable}} {{pun.Suplente}}
      {{pun.Estado}} {{pun.Telefono}} {{pun.CodigoExternoPE}} {{pun.idBarriosVeredas}} {{pun.idCentrosZonales}}
      <ion-button [routerLink]="['/puntoentregai', pun.idPuntoEntrega]" slot="end">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>