<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button type="buttons" slot="start"></ion-menu-button>
    <ion-title>Municipios</ion-title>
    <ion-button (click)="openAlert()" slot="end">
      <ion-icon name="add"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
  
    <ion-label>Nombre Municipio</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Region</ion-label>
    <ion-input type="text"></ion-input>

    <ion-button size="default" color="success" expand="block" type="submit" (click)="RegistrarMunicipio()">registrar</ion-button>

  </ion-list>
</ion-content>
