<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Beneficiarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <div class="panel">
    <ion-label>Primer Nombre</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Segundo Nombre</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Primer Apellido</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Segundo Apellido</ion-label>
    <ion-input type="text"></ion-input>
    <ion-item>
      <ion-label>Genero</ion-label>
      <ion-select placeholder="Seleciona una">
        <ion-select-option value="f">Femenino</ion-select-option>
        <ion-select-option value="m">Masculino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tipo Documento</ion-label>
      <ion-select placeholder="Selececiona una">
        <ion-select-option value="CC">Cedula de ciudadania</ion-select-option>
        <ion-select-option value="TI">Tarjeta de identidad</ion-select-option>
        <ion-select-option value="TP"> Tarjeta pasaporte</ion-select-option>
        <ion-select-option value="RC"> Registro civil</ion-select-option>
        <ion-select-option value="CE">Cédula de extranjería</ion-select-option>
        <ion-select-option value="DNI">Documento nacional de identidad </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label>Numero de Documento</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Estado</ion-label>
    <ion-input type="text"></ion-input>

    <ion-item>
      <ion-label>Fecha de ingreso </ion-label>
      <li></li>
      <ion-datetime position="floating" display-format="MMM DD, YYYY "></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <li></li>
      <ion-datetime position="floating" display-format="MMM DD, YYYY "></ion-datetime>
    </ion-item>

    <ion-label>Modalidad</ion-label>
    <ion-select placeholder="Selecciona una">
      <ion-select-option value="MI">Modalidad Institucional</ion-select-option>
      <ion-select-option value="MF">Modalidad Familiar</ion-select-option>
      <ion-select-option value="MPEI">Modalidad Propia e Intercultural </ion-select-option>
      <ion-select-option value="MC">Modalidad Comunitaria</ion-select-option>
    </ion-select>


    <ion-button size="default" color="success" expand="block">Enviar</ion-button>

  </div>
</ion-content>