<ion-header>
  <ion-toolbar>
    <ion-title>UsuarioyRoles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-label>Usuario En el sistema</ion-label>
    <ion-input type="text"></ion-input>

    <ion-item>
        <ion-label>Tipo de usuario</ion-label>
        <ion-select placeholder="Selececiona una">
          <ion-select-option value="PE">PE</ion-select-option>
          <ion-select-option value="UDS">UDS</ion-select-option>
          <ion-select-option value="ADMINISTRADOR"> ADMINISTRADOR</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button size="default" color="success" expand="block">Aceptar</ion-button>

</ion-content>
