<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons> 
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <div class="panel">

      <ion-label>Nombre Punto de entrega</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Nombre del responsable del punto</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Regional</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Codigo del Punto</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Nombre del responsable de dilingeciar el formato</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Centro Zonal</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Municipio</ion-label>
      <ion-input type="text"></ion-input>

      <ion-label>Descripcion del AAVN</ion-label>
      <li></li>
      <ion-label>Bienestarina Max</ion-label>
      <ion-checkbox ></ion-checkbox>
      <ion-label>Bienestarina Max Vainilla</ion-label>
    <ion-checkbox ></ion-checkbox>
    <ion-label>Bienestarina Max Fresa</ion-label>
    <ion-checkbox ></ion-checkbox>
    <li></li>
    <ion-label>Alimento para la mujer Gestante y en periodo de lactancia </ion-label>
    <ion-checkbox ></ion-checkbox>
    <li></li>
    <ion-label>Bienestarina liquida </ion-label>
    <ion-checkbox ></ion-checkbox>
    <li></li>
    <ion-label>Sabor</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Otro </ion-label>
    <ion-checkbox ></ion-checkbox>
    <li></li>
    <ion-label>Cual</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Valor Informativo del precio del AAVN</ion-label>
    <li></li>
    <ion-label>Mes</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Mes</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Mes</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>valor</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>valor</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>valor</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Mes</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Mes</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Mes</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>valor</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>valor</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>valor</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Mes</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Mes</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Mes</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>valor</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>valor</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>valor</ion-label>
    <ion-input type="text"></ion-input>


    <ion-item>
        <ion-label>Fecha de entrada o salida</ion-label>
        <li></li>
        <ion-datetime position="floating" display-format="MMM DD, YYYY "></ion-datetime>
      </ion-item>

      <ion-label>Numero de Acta</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Numero de Lote</ion-label>
    <ion-input type="text"></ion-input>

    <ion-item>
        <ion-label>Fecha de vencimiento</ion-label>
        <li></li>
        <ion-datetime position="floating" display-format="MMM DD, YYYY "></ion-datetime>
      </ion-item>

      <ion-label>Entrada(Unidades)</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Salida</ion-label>
    <li></li>

    <ion-label>Unidades </ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Destino</ion-label>
    <li></li>

    <ion-label>Beneficiarios</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Unidades ejecutoras</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Existencia Lote(Unidades)</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Existencia Punto de entrega(unidades)</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Reserva(unidades)</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Firma Responsable punto de entrega</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Cedula del responsable del punto de entrega</ion-label>
    <ion-input type="text"></ion-input>

    <ion-button size="default" color="success" expand="block">Enviar</ion-button>

  </div>
</ion-content>
