<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <div class="panel">

    <ion-label>Numero Externo</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Nombre del centro de distribucion</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Responsable</ion-label>
    <ion-input type="text"></ion-input>

    <ion-item>
        <ion-label>Estado del dato maestro</ion-label>
        <ion-select placeholder="Selecciona una">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
        </ion-select>
      </ion-item>

    
    <ion-label>Capacidad</ion-label>
    <ion-input type="number"></ion-input>
    
    <ion-item>
        <ion-label>unidad de medida</ion-label>
        <ion-select placeholder="Selecciona una">
          <ion-select-option value="kg">kg</ion-select-option>
          <ion-select-option value="ml">ml</ion-select-option>
        </ion-select>
      </ion-item>
    
   
    <ion-button size="default" color="success" expand="block">Enviar</ion-button>

  </div>
</ion-content>