<ion-header>
  <ion-toolbar>
      <ion-button slot="start" routerLink="/menu/comuna">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title>comuna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
              <ion-input name="Comunas" [(ngModel)]="comunas.Comunas" type="text" placeholder="Nombre comuna"
                class="form-control" autofocus>
              </ion-input>
              <ion-input name="idMunicipios" [(ngModel)]="comunas.idMunicipios" type="number" placeholder="Municipio"></ion-input>
            </div>
            <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()"-->
            <ion-button type="submit" (click)="modificar ? updateDatos() : insertDatos()" routerLink="/menu/comuna">
              Guardar
            </ion-button>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
