<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
  <form [formGroup]="loginForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <ion-item>
            <ion-label>Ususario</ion-label>
            <ion-input formControlName="usuario" type="text" placeholder="Ususario"></ion-input>
          </ion-item>
          <div class="error_messages">
            <ng-container *ngFor="let error of error_messages.usuario">
              <div class="error_messages"
                *ngIf="loginForm.get('usuario').hasError(error.type) && (loginForm.get('usuario').dirty || loginForm.get('usuario').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
          </ion-item>
          <ion-button shape="round" size="default" color="success" expand="block" (click)="onClick()"
            [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>


        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>