<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
  <div class="panel">
  <form [formGroup]="loginForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" container>
            <img src="assets/profile.svg" />
          <ion-item>
            <ion-label>Usuario</ion-label>
            <ion-input formControlName="usuario" type="text" placeholder="Ususario" [(ngModel)]="user.name"></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.usuario">
              <div class="error-messages"
                *ngIf="loginForm.get('usuario').hasError(error.type) && (loginForm.get('usuario').dirty || loginForm.get('usuario').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Contraseña" [(ngModel)]="user.pw"></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.password">
              <div class="error-messages"
                *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
          <ion-button shape="round" size="default" color="success" expand="block" (click)="loginUser()"
            [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>


        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <div text-center>
          Si no tienes una cuenta, por favor <a routerLink='/register' routerDirection="root">
          registrate</a> primero!
        </div>
      </ion-row>
    </ion-grid>

  </form>
</div>
</ion-content>