ion-content {
    --background: linear-gradient(135deg, var(--ion-color-success), var(--ion-color-primary));
   // --background: url("../../../assets/login.svg");
    //--background-size:'auto';
    
}
ion-toolbar{
    --background: linear-gradient(100deg, var(--ion-color-success), var(--ion-color-primary));
}
ion-title{
    font-family: 'Crimson Text', serif;
    font-size: 50px;
    text-align: center;
}
ion-button{
    --background: #38da10;
}

ion-icon {
    width: 40px;
    height: 40px;
    color: #38da10;
}

a{
    color: azure;
}