<ion-header>
  <ion-toolbar>
    <ion-button slot="start" routerLink="/menu/centrozonal">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>Centros Zonales</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <!-- name= "al campo de la tabla" [(ngModel)]="regionales.(Nombre de la columna)"-->
            <ion-input name="NombreCentroZonal" [(ngModel)]="centros.NombreCentroZonal" type="text" placeholder="Nombre Centro Zonal"
              class="form-control" autofocus>
            </ion-input>
            <ion-input name="idMunicipios" [(ngModel)]="centros.idMunicipios" type="number" placeholder="idMunicipios">
            </ion-input>
            <ion-input name="idComunas" [(ngModel)]="centros.idComunas" type="number" placeholder="idComunas">
            </ion-input>
            <ion-input name="idBarrioVeredas" [(ngModel)]="centros.idBarrioVeredas" type="number" placeholder="idBarrioVeredas">
            </ion-input>
            <ion-input name="CodigoExternoJcz" [(ngModel)]="centros.CodigoExternoJcz" type="text" placeholder="CodigoExternoJcz">
            </ion-input>
            <ion-input name="CodigoExternoCZ" [(ngModel)]="centros.CodigoExternoCZ" type="number" placeholder="CodigoExternoCZ">
            </ion-input>
            <ion-input name="Estado" [(ngModel)]="centros.Estado" type="number" placeholder="Estado">
            </ion-input>
            <ion-input name="idRegional" [(ngModel)]="centros.idRegional" type="number" placeholder="idRegional">
              </ion-input>
          </div>
          <!-- Validacion para usar el mismo form  (click)="modificar ? updateDatos() : insertDatos()"-->
          <ion-button type="submit" (click)="modificar ? updateDatos() : insertDatos()" routerLink="/menu/centrozonal">
            Guardar
          </ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>