<ion-header>
  <ion-toolbar>
    <ion-title>DatosGeneralesUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Estado del dato maestro</ion-label>
        <ion-select placeholder="Selecciona una">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
        </ion-select>
      </ion-item>

    <ion-item>
        <ion-label>Tipo Documento</ion-label>
        <ion-select placeholder="Selececiona una">
          <ion-select-option value="CC">Cedula de ciudadania</ion-select-option>
          <ion-select-option value="TP"> Tarjeta pasaporte</ion-select-option>  
          <ion-select-option value="CE">Cédula de extranjería</ion-select-option>   
        </ion-select>
      </ion-item>

      <ion-label>Numero de Documento</ion-label>
      <ion-input type="text"></ion-input>
      
      <ion-label>Nombres</ion-label>
      <ion-input type="text"></ion-input>

      <ion-label>Apellidos</ion-label>
      <ion-input type="text"></ion-input>

      <ion-item>
          <ion-label>Fecha de ingreso </ion-label>
          <li></li>
          <ion-datetime position="floating" display-format="MMM DD, YYYY "></ion-datetime>
        </ion-item>


<ion-button size="default" color="success" expand="block">Enviar</ion-button>



</ion-content>
