<ion-header>
  <ion-toolbar>
    <ion-title>uds</ion-title>
    <ion-button (click)="openAlert()" slot="end">
      Inhabilitar
     </ion-button>
    <ion-button (click)="openAlert()" slot="end">
     Modificar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="alignme" class="my-label">Unidad de servicio</ion-label>

  <ion-item>
    <ion-label>Estado del dato maestro</ion-label>
    <ion-select placeholder="Selecciona una">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-label>Nombre del Uds</ion-label>
  <ion-input type="text"></ion-input>

  <ion-label>Codigo Externo Uds</ion-label>
  <ion-input type="number"></ion-input>

  <ion-label>Codigo Interno Uds</ion-label>
  <ion-input type="text"></ion-input>

  <ion-label>Responsable Uds</ion-label>
  <ion-input type="text"></ion-input>

  <ion-label>Localidad comuna o vereda </ion-label>
  <ion-input type="text"></ion-input>

  <ion-label>Direccion Uds</ion-label>
  <ion-input type="text"></ion-input>

  <ion-label>Barrio Uds</ion-label>
  <ion-input type="text"></ion-input>

  <ion-label>Telefono Uds</ion-label>
  <ion-input type="number"></ion-input>

  <ion-button size="default" color="success" expand="block" type="submit" (click)="finish()">Enviar</ion-button>

</ion-content>
