<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button type="buttons" slot="start"></ion-menu-button>
    <ion-title>Comunas</ion-title>
    <ion-button routerLink="/comunali" slot="end">
      <ion-icon name="add"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    <ion-item *ngFor="let RG of usuarios">
      {{RG.idComunas}} {{RG.Comunas}}

      <ion-button [routerLink]="['/comunali', RG.idComunas]" slot="end">
        <ion-icon name="create"></ion-icon>
      </ion-button>

    </ion-item>

    
  </ion-list>
</ion-content>
