<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button type="buttons"></ion-menu-button>
    </ion-buttons>
    <ion-title>Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top" >
  <div class="panel">
    <ion-label>Punto de entrega</ion-label>
    <li></li>
    <ion-label>Primario</ion-label>
    <ion-checkbox ></ion-checkbox>
    <ion-label>UDS</ion-label>
    <ion-checkbox></ion-checkbox>
    <li></li>
    <ion-label>Codigo Del Punto de entrega o UDS</ion-label>
    <ion-input type="text" name="codigo" ></ion-input>
    <ion-label>Nombre Punto de entrega o UDS</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Responsable Punto de entrega o UDS</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Direccion Punto de entrega o UDS</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Codigo Punto de entrega o UDS</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Mes Consumo</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>año</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Suplente Punto de entrega</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Barrio</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Telefono</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Nombre Punto de entrega de origen</ion-label>
    <ion-input type="text"></ion-input>

    <ion-label>Datos del Beneficiario</ion-label>
    <li></li>
    <ion-label>Primer Nombre</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Segundo Nombre</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Primer Apellido</ion-label>
    <ion-input type="text"></ion-input>
    <ion-label>Segundo Apellido</ion-label>
    <ion-input type="text"></ion-input>
    <li></li>
    
          <ion-item>
            <ion-label>Tipo de documento</ion-label>
            <ion-select placeholder="Seleccione uno">
              <ion-select-option value="1">CC</ion-select-option>
              <ion-select-option value="2">CE</ion-select-option>
              <ion-select-option value="2">CI</ion-select-option>
              <ion-select-option value="2">TI</ion-select-option>
              <ion-select-option value="2">RC</ion-select-option>
            </ion-select>
          </ion-item>
        

      <ion-label>Numero de documento de identidad</ion-label>
      <ion-input type="text"></ion-input>

      <!--Date picker-->
      <ion-item>
          <ion-label>Fecha Entrega</ion-label>
          <li></li>
          <ion-datetime position="floating" display-format="MMM DD, YYYY "></ion-datetime>
        </ion-item>
        <!---->

        <ion-label>Bienestarina Max</ion-label>
        <li></li>
        <ion-label>Numero Lote</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Unidades</ion-label>
        <ion-input type="text"></ion-input>

        <ion-label>Bienestarina Liquida</ion-label>
        <li></li>
        <ion-label>Numero Lote</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Unidades</ion-label>
        <ion-input type="text"></ion-input>

        <ion-label>Alimento MG y Ml</ion-label>
        <li></li>
        <ion-label>Numero Lote</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Unidades</ion-label>
        <ion-input type="text"></ion-input>

        <ion-label>Otro AAVN</ion-label>
        <li></li>
        <ion-label>Numero Lote</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Unidades</ion-label>
        <ion-input type="text"></ion-input>

        <ion-label>Quien Recibe</ion-label>
        <li></li>
        <ion-label>Nombre Completo</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Parentesco</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Firma</ion-label>
        <ion-input type="text"></ion-input>

        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.password">
            <div class="error-messages"
              *ngIf="loginForm.get('codigo').hasError(error.type) && (loginForm.get('codigo').dirty || loginForm.get('codigo').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <ion-button shape="round" size="default" color="success" expand="block" (click)="entregar()" [disabled]="!loginForm.valid">Entregar</ion-button>
      </div>

</ion-content>