<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button type="buttons"></ion-menu-button>
    </ion-buttons>
    <ion-title>Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top" >
  <div class="panel">
    <ion-label>Punto de entrega</ion-label>
    <li></li>
    <li></li>
    
    <ion-item>
      <ion-label>Dato Maestro</ion-label>
      <ion-select placeholder="--seleccione uno">
          <ion-select-option value="1">habilitar</ion-select-option>
        <ion-select-option value="1">Inhabilitar</ion-select-option>
      </ion-select>
    </ion-item>
    <li></li>

    <ion-label>NombrePE</ion-label>
    <ion-input type="text" name="NombrePE" ></ion-input>
    <ion-label>CodigoExternoPE</ion-label>
    <ion-input type="number" name="CodigoExternoPE" ></ion-input>
    <ion-label>CodigoInternoPE</ion-label>
    <ion-input type="number" name="CodigoInternoPE" ></ion-input>
    <ion-label>ResponsableDelPE</ion-label>
    <ion-input type="text" name="ResponsableDelPE" ></ion-input>
    <ion-label>localidad Comuna Vereda</ion-label>
    <ion-input type="text" name="localidad" ></ion-input>
    <ion-label>DireccionPE</ion-label>
    <ion-input type="text" name="DireccionPE" ></ion-input>
    <ion-label>BarrioPE</ion-label>
    <ion-input type="text" name="BarrioPE" ></ion-input>
    <ion-label>TelefonoPE</ion-label>
    <ion-input type="text" name="TelefonoPE" ></ion-input>

    <ion-button size="default" color="success" expand="block">Enviar</ion-button>
         </div>

</ion-content>