<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button type="buttons"></ion-menu-button>
    </ion-buttons>
    <ion-title>Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top" >
  <div class="panel">
    
      <ion-item>
          <ion-label>Estado del dato maestro</ion-label>
          <ion-select placeholder="Selecciona una opcion">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>

          <ion-label>Nombre PE</ion-label>
          <ion-input type="text"></ion-input>

          <ion-label>Codigo externo PE</ion-label>
          <ion-input type="number"></ion-input>

          <ion-label>Codigo Interno PE</ion-label>
          <ion-input type="text"></ion-input>

          <ion-label>responsable PE</ion-label>
          <ion-input type="text"></ion-input>

          <ion-label>Localidad comunas o vereda</ion-label>
          <ion-input type="text"></ion-input>

          <ion-label>Direccion PE</ion-label>
          <ion-input type="text"></ion-input>

          <ion-label>Barrio PE</ion-label>
          <ion-input type="text"></ion-input>

          <ion-label>Telefono PE</ion-label>
          <ion-input type="number"></ion-input>

          <ion-button size="default" color="success" expand="block" type="submit" (click)="finish()">Enviar</ion-button>

    </div>

</ion-content>