<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button type="buttons" slot="start"></ion-menu-button>
    <ion-title>Centros Zonales</ion-title>
    <ion-button (click)="openAlert()" slot="end">
      Inhabilitar
     </ion-button>

    <ion-button (click)="openAlert()" slot="end">
     Modificar
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-label class="my-label">Centro Zonal</ion-label>

  <ion-list>
    <ion-label>Centros Zonales</ion-label>
    <ion-item *ngFor="let CZ of usuarios">
      {{CZ.	idCentrosZonales}} {{CZ.CentrosZonales}} {{CZ.Regional_idRegional}} {{CZ.CodigoJerarquiaCZ	}} {{CZ.CodigoCZ}}
      <ion-button (click)="openAlert1()" slot="end">
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-label>Estado del maestro</ion-label>
  <ion-input type="number" inputmode="numeric" placeholder=" ingresar dato" clearInput="true" (ionChange)="ccapturarDatos( $event )"></ion-input>

  <ion-label>Nombre Centro Zonal</ion-label>
  <ion-input type="number"></ion-input>

  <ion-item>
    <ion-label>Regional</ion-label>
    <ion-select placeholder="Selecciona una">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-label>Municipio</ion-label>
  <ion-input type="text"></ion-input>

  <ion-label>localidad comuna o vereda</ion-label>
  <ion-input type="text"></ion-input>

  <ion-label>CodigoJerarquiaCZ</ion-label>
  <ion-input type="text"></ion-input>

  <ion-label>CodigoCZ</ion-label>
  <ion-input type="number"></ion-input>

  <ion-button size="default" color="success" expand="block" type="submit" (click)="finish()">Enviar</ion-button>



</ion-content>
